<!DOCTYPE HTML>
<html>

<head>
  <title>CSS3_photo_dark</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
  
</head>

<body>
  <div id="main" class="backdrop-container">
    <header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">แสงดีจริงค้าเหล็ก</a></h1>
          <h5>จำหน่ายขายผลิตภัณฑ์สินค้าเหล็กรูปพรรณทุกชนิด</h5>
        </div>
      </div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li class="selected"><a href="index.html">หน้าหลัก</a></li>
           
          <li><a href="page.html">สินค้าและบริการ</a></li>
          <li><a href="contact.html">ติดต่อเรา</a></li>
        </ul>
      </nav>
    </header>
    <div id="site_content">
      <ul id="images" >
        <li><img src="images/steel_pipe.JPG" width="600" height="300" alt="photo_one" /></li>
        <li><img src="images/steel_construction.jpg" width="600" height="300" alt="photo_two" /></li>
        <li><img src="images/steel_flatbar.jpg" width="600" height="300" alt="photo_three" /></li>
        <li><img src="images/steel_ibeam.jpg" width="600" height="300" alt="photo_four" /></li>
        <li><img src="images/steel_plate.jpeg" width="600" height="300" alt="photo_five" /></li>
        <li><img src="images/steel_sq.jpeg" width="600" height="300" alt="photo_photo_dark" /></li>
        
      </ul>
      <div id="sidebar_container" class="">
        <div class="sidebar backdrop-container" style="margin-right: 10px; background-color: #333">
          <h3 class="csmaller">สอบถามข้อมูล</h3>
          <h4> โทร 02-743-3881</h4>
          <a href="#" style="color:inherit; font-style:inherit;text-decoration: none;font-size: 150%"><i class="fa fa-facebook-square"></i> Facebook</a>
          <br/>
          <a style="color:inherit; font-style:inherit;text-decoration: none;font-size: 150%"><i class="fa fa-phone-square"></i> Line:</a> <a style="font-style:inherit;text-decoration: none;font-size: 120%; color: inherit">SDJSteel</a>
          
          
        </div>
        
      </div>
      <div class="content backdrop-container" >
        <h1>บริษัท แสงดีจริงค้าเหล็ก</h1>
        <p style="margin-left: 5px;">ทางเราจัดจำหน่ายเหล็กหลายชนิดได้แก่ เหล็กเพลาขาว, เหล็กตัวซี, เหล็กฉาก, เหล็กรางน้ำ, เหล็กแบน, เหล็กไอบีม, เหล็กไวด์แฟรงค์, เหล็กเอชบีม, เหล็กแผ่น, เหล็กกล่อง, เหล็กข้ออ้อย, เหล็กเส้น, เหล็กกันสึก, เหล็กทนความร้อน, เหล็กแข็งใบมีด SCM440 ,เหล็กสปริง SK5 ,เหล็ก ASTM A36,เหล็ก ASTM A572 GR50,เหล็ก DIN ST37, เหล็ก DIN ST52-3, เหล็กรางรถไฟ, ลวดผูกเหล็ก, แป๊ปแบน, แป๊ปสี่เหลี่ยม, ท่อเอพีไอ, ท่อเหล็กดำ, ท่อสแตนเลส, สแตนเลส, วัสดุก่อสร้าง และเหล็กรูปพรรณทุกชนิดโดยลูกค้าสามารถเช็คราคาเหล็กได้ตามemail และเบอร์ที่ระบุไว้ </p>
      </div>
    </div>
    <footer>
<!--      <p style="font-size: small;">design from css3templates.co.uk</p>-->
<p style=";">  บริษัท แสงดีจริงค้าเหล็ก จำหน่ายเหล็ก บริการตัด ดัด ขึ้นรูปเหล็ก ครบวงจร</p>
<p> เลขที่ 78/50-51 ถนนเฉลิมพระเกียรติ แขวงหนองบอน เขตประเวศ กรุงเทพฯ 10250</p>

    </footer>
      <div style="float: right">
    <p>css3templates.co.uk</p>
</div>
  </div>
  <p>&nbsp;</p>
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery.easing-sooper.js"></script>
  <script type="text/javascript" src="js/jquery.sooperfish.js"></script>
  <script type="text/javascript" src="js/jquery.kwicks-1.5.1.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#images').kwicks({
        max : 600,
        spacing : 2
      });
      $('ul.sf-menu').sooperfish();
    });
  </script>
</body>
</html>
