<!DOCTYPE HTML>
<html>

<head>
  <title>จำหน่าย เหล็กแผ่น เหล็กท่อกลมดำ เหล็กแบน | แสงดีจริงค้าเหล็ก  </title>
  <meta name="description" content="จำหน่ายขายผลิตภัณฑ์สินค้าเหล็กรูปพรรณทุกชนิด ได้แก่ เหล็กเพลาขาว, เหล็กตัวซี, เหล็กฉาก, เหล็กรางน้ำ, เหล็กแบน, เหล็กไอบีม, เหล็กไวด์แฟรงค์, เหล็กเอชบีม, เหล็กแผ่น, เหล็กกล่อง, เหล็กข้ออ้อย, เหล็กเส้น, เหล็กกันสึก, เหล็กทนความร้อน" />
  <meta name="keywords" content="ขายเหล็ก,ตารางเหล็กกล่อง,ราคาเหล็ก,ราคาเหล็กกล่อง,เหล็ก,เหล็กกล่อง,เหล็กรูปพรรณ,เหล็กแป๊บแบน,เหล็กแป๊บโปร่ง,สินค้า,เหล็กตัวซี,เหล็กเส้น,เหล็กท่อดำ" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
</head>

<body>
  <div id="main" class="backdrop-container">
   <header>
                <div id="logo">
                    <div id="logo_text">
                        <!-- class="logo_colour", allows you to change the colour of the text -->
                        <h1><a href="index.html">แสงดีจริงค้าเหล็ก</a></h1>
                        <h5> จำหน่ายขายผลิตภัณฑ์สินค้าเหล็กรูปพรรณทุกชนิด บริการทั้งปลีกและส่ง</h5>
                    </div>
                </div>
                <nav>
                    <ul class="sf-menu" id="nav">
                        <li class="selected"><a href="index.html" itemprop="url">หน้าหลัก</a></li>

                        <li ><a href="products.html" itemprop="url">สินค้าและบริการ</a></li>
                        <li ><a href="contact.html" itemprop="url">ติดต่อเรา</a></li>
                    </ul>
                </nav>
            </header>
    <div id="site_content" >
      <ul id="images">
    <li><img src="images/steel_pipe.JPG" width="600" height="300" alt="เหล็กรูปพรรณ" itemprop="image"/></li>
        <li><img src="images/steel_construction.jpg" width="600" height="300" alt="เหล็กรูปพรรณ" itemprop="image" /></li>
        <li><img src="images/steel_flatbar.jpg" width="600" height="300" alt="เหล็กรูปพรรณ" itemprop="image" /></li>
        <li><img src="images/main4.jpg" width="600" height="300" alt="เหล็กรูปพรรณ" itemprop="image" /></li>
        <li><img src="images/steel_plate.jpeg" width="600" height="300" alt="เหล็กรูปพรรณ"  itemprop="image"/></li>
        <li><img src="images/steel_sq.jpeg" width="600" height="300" alt="เหล็กรูปพรรณ" itemprop="image" /></li>
      </ul>
 
      <div class="content backdrop-container" style="width:830px" itemscope itemtype ="http://schema.org/Product">
        <h1>สินค้าและบริการ</h1>
        <div style="margin-left: 5px;">
        <p >
        </p>
        <div style="border-bottom:4px solid; border-color: #D1D1D1;">
        <h2 style="background-color: #D1D1D1; display: table;margin: 0 0 0 0;" itemprop="name"> เหล็กแผ่น &nbsp</h2>
        </div>
        <br/>
        <img src="images/steel_plate.jpeg" width="530"  height="300" alt="เหล็กแผ่น" itemprop="image"/>
        
        <div style="border-bottom:4px solid; border-color: #D1D1D1;margin-top: 20px;">
        <h2 style="background-color: #D1D1D1; display: table;margin: 0 0 0 0;" itemprop="name"> เหล็กกล่อง &nbsp</h2>
        </div><br/>
        <img src="images/hollow_steel_bar.jpg" height="300" alt="เหล็กกล่อง" itemprop="image"/>
        
        <div style="border-bottom:4px solid; border-color: #D1D1D1;margin-top: 20px;">
        <h2 style="background-color: #D1D1D1; display: table;margin: 0 0 0 0;" itemprop="name"> เหล็กตัวซี &nbsp</h2>
        </div><br/>
        <img src="images/Channel_steel_bar3.jpg" height="300" alt="เหล็กตัวซี" itemprop="image"/>
        
        <div style="border-bottom:4px solid; border-color: #D1D1D1;margin-top: 20px;">
        <h2 style="background-color: #D1D1D1; display: table;margin: 0 0 0 0;" itemprop="name"> เหล็กท่อกลมดำ &nbsp</h2>
        </div><br/>
        <img src="images/steel_black_pipe_1.jpg" height="300" alt="เหล็กท่อกลมดำ" itemprop="image"/>
        
        <div style="border-bottom:4px solid; border-color: #D1D1D1;margin-top: 20px;">
        <h2 style="background-color: #D1D1D1; display: table;margin: 0 0 0 0;" itemprop="name"> เหล็กแบน &nbsp</h2>
        </div><br/>
        <img src="images/flat_steel_bar.jpg" height="300" alt="เหล็กแบน" itemprop="image"/>
      </div>
      </div>
    </div>
    <footer>
                <!--      <p style="font-size: small;">design from css3templates.co.uk</p>-->
                <p> บริษัท แสงดีจริงค้าเหล็ก sdj_steel จำหน่ายขายผลิตภัณฑ์สินค้าเหล็กรูปพรรณทุกชนิด บริการทั้งปลีกและส่ง</p>
                <p> เลขที่ 78/50-51 ซอย เฉลิมพระเกียรติ ร.9 ซอย 5 ถนนเฉลิมพระเกียรติ ร.9 แขวงหนองบอน เขตประเวศ กรุงเทพฯ 10250</p>

            </footer>
  </div>
  <p>&nbsp;</p>
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery.easing-sooper.js"></script>
  <script type="text/javascript" src="js/jquery.sooperfish.js"></script>
  <script type="text/javascript" src="js/jquery.kwicks-1.5.1.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#images').kwicks({
        max : 600,
        spacing : 2
      });
      $('ul.sf-menu').sooperfish();
    });
  </script>
</body>
</html>
